$black-text: #222222
$yellow: #F0C73F
$white: #ffffff
$gray: #4C4C4C

*
    box-sizing: border-box

html
    scroll-behavior: smooth
    color: $black-text
    font-family: 'Montserrat', sans-serif
    box-sizing: border-box
p
    font-size: 16px
    line-height: 23px

.mb--40
    margin-bottom: 40px

.mw--half
    max-width: 50%

.title
    font-family: 'Play', sans-serif
    font-size: 45px
    line-height: 52px
    font-weight: bold
    margin-bottom: 60px

.subtitle
    font-size: 22px
    line-height: 27px
    font-weight: 600
    margin-bottom: 26px

.header
    position: fixed
    height: 100vh
    width: 143px
    top: 0
    left: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding-top: 29px
    padding-bottom: 45px
    box-sizing: border-box
    background: $white
    z-index: 1

    &__logo
        display: block
        width: 52px
        height: 52px
        background-image: url('../img/header_logo.png')
        background-size: contain
        &:hover
            background-image: url('../img/logo_big.png')
        &-wrapper
            display: flex
            flex-direction: column
            align-items: center
        &-title
            font-family: 'Poiret One', cursive
            font-size: 24px
            line-height: 28px
            margin-top: 8px

    &__title
        writing-mode: vertical-rl
        font-size: 12px
        position: relative
        text-transform: uppercase
        transform: rotate(180deg)
        &::after
            content: ''
            display: block
            position: absolute
            bottom: 0
            width: 78px
            height: 1px
            background: $yellow
            transform-origin: 100%
            transform: rotate(90deg)

    &__nav
        height: 165px
        display: flex
        flex-direction: column
        justify-content: space-between
        &-item
            display: block
            position: relative
            width: 7px
            height: 7px
            background: $black-text
            &::after
                content: ''
                position: absolute
                display: block
                left: 50%
                top: 50%
                width: 17px
                height: 17px
                border: 1px solid $black-text
                transform: translate(-10px, -10px) scale(0)
                transition: transform ease-in-out .33s
            &--active
                &::after
                    transform: translate(-10px, -10px) scale(1)

    &__lang-selector
        position: relative
        display: flex
        &::before,
        &::after
            content: ''
            display: block
            position: absolute
        &::before
            top: 0
            left: 50%
            height: 19px
            width: 1px
            background: $black-text
        &::after
            bottom: 0
            right: 10px
            width: 20px
            height: 2px
            background: $yellow
        &-item
            font-size: 16px
            line-height: 20px
            margin: 0 10px
            &:first-child
                font-weight: bold
            &:last-child
                font-weight: normal
                &:hover
                    color: $yellow

        &--en
            &::after
                right: auto
                left: 10px
            .header__lang-selector
                &-item
                    &:first-child
                        font-weight: normal
                        &:hover
                            color: $yellow
                    &:last-child
                        font-weight: bold
                        &:hover
                            color: $black-text
                



// section
//     padding-left: 239px

.slider-screen,
.docs,
.get
    background: linear-gradient(214.79deg, rgba(255, 255, 255, 0.1) 13.87%, rgba(255, 255, 255, 0) 69.02%), linear-gradient(0deg, #222222, #222222), linear-gradient(56.24deg, #FFE989 8.41%, #D35DA4 87.89%)
    color: $white

.slider-screen,
.get
    display: flex
    height: 100vh
    position: relative

    .scroll-hint
        height: 100px
        width: 100%
        background: $white
        position: absolute
        bottom: 0
        left: 0
    &__left
        position: relative
    &__right
        position: absolute
        top: 0
        right: 0
        width: 40%
        height: 100%
        background-image: url('../img/slider_right_bg.svg')
        background-size: cover
        background-repeat: no-repeat
    .slider
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0

        &__logo
            width: 133px
            height: 133px

        &__controls
            width: 800px
            height: 1px
            background: $white
            position: absolute
            bottom: 213px
            left: 240px
            display: flex
            justify-content: space-between
            align-items: flex-end
            z-index: 1

            &-item
                padding-bottom: 26px
                text-align: center
                position: relative
                &::after
                    box-sizing: border-box
                    position: absolute
                    display: block
                    bottom: -2px
                    left: 50%
                    transform: translateX(-50%)
                    content: ''
                    width: 28px
                    height: 4px
                    background: $black-text
                    border: 1px solid $white
                &:hover,
                &--active
                    font-weight: bold
                    &::after
                        background: $white

                &--active
                    &::after
                        width: 46px
                        height: 8px
                        bottom: -4px
                    &::before
                        box-sizing: border-box
                        width: 58px
                        height: 20px
                        position: absolute
                        display: block
                        bottom: -10px
                        left: 50%
                        transform: translateX(-50%)
                        content: ''
                        background: $black-text
                        border: 1px solid $white

    .slide
        display: flex
        padding-top: 120px
        position: absolute
        top: 0
        &__img
            opacity: 0
            transition: all 0.5s ease-in-out
        &--previous
            .slide__img
                transform: translateX(-150%)
                opacity: 0
            .slide__text
                opacity: 0


        &--next
            .slide__img
                transform: translateX(150%)
                opacity: 0
            .slide__text
                opacity: 0

        &--active
            .slide__img
                transform: translateX(0px)
                opacity: 1
            .slide__text
                opacity: 1

        &__text
            opacity: 0
            max-width: 60%
            padding-top: 154px 
            padding-left: 240px 
            padding-right: 180px
            transition: opacity 0.5s ease-in-out



        &__img-wrapper
            width: 40%
            text-align: center
            overflow: hidden

        &__title,
        &__description
            font-size: 31px
            line-height: 36px
            font-weight: bold
            font-family: 'Play', sans-serif
            margin-bottom: 20px

        &__title
            font-size: 54px
            line-height: 58px

        &__title--main
            margin-top: -16px
            font-size: 121px
            line-height: 140px


            

section
    padding: 112px 240px
    box-sizing: border-box

.functionality
    &__wrapper
        display: flex
    &__list
        list-style: none
        counter-reset: li
        padding-left: 48px
        &-item
            margin-bottom: 15px
            &::before
                counter-increment: li
                content: counter(li)
                display: inline-flex
                align-items: center
                justify-content: center
                vertical-align: middle
                margin-right: 19px
                margin-left: -48px
                width: 29px
                height: 27px
                border: 1px solid $gray

.products__wrapper
    display: flex
    justify-content: space-between
    margin-bottom: 60px

    &--get
        width: 658px
        flex-direction: column

.product
    width: 435px
    height: 157px
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1)
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
    position: relative

    &__title
        font-family: 'Poiret One', cursive
        font-size: 28px
        line-height: 33px
        margin-bottom: 7px
    &__subtitle
        font-size: 13px
        line-height: 18px

    &__description
        margin-left: 16px

    &__unavailable
        position: absolute
        bottom: 0
        right: 0
        height: 33px
        background: #828282
        color: $white
        padding: 8px 11px

    &--active,
    &:hover
        border: 1px solid $black-text

    &--disabled
        filter: greyscale(100%)

    &--get
        width: auto
        height: 112px
        background: $white
        justify-content: space-between
        padding-left: 54px
        padding-right: 70px
        margin-top: 48px

        &:hover
            .download-icon:before
                content: ''
                display: block
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                background: $yellow

.download-icon
    width: 18px
    height: 24px
    background-image: url('../img/down_arrow_black.svg')
    margin-left: 26px
    position: relative

.mir
    color: #FC8215
    font-weight: bold
.suz
    color: #E21423
    font-weight: bold
.mdm
    color: #571CA8
    font-weight: bold

.docs
    background: linear-gradient(202.95deg, rgba(255, 255, 255, 0.1) 13.87%, rgba(255, 255, 255, 0) 69.02%), #222222
    color: $white

    &__wrapper
        display: flex

    &__group
        margin-right: 80px
        width: 406px

    &__item
        display: flex
        &:not(:last-child)
            margin-bottom: 22px

        &:hover
            .docs__icon
                background-image: url('../img/down_arrow_white.svg')

    &__icon
        width: 16px
        height: 22px
        margin-right: 18px
        flex-shrink: 0
        display: block
        background-image: url('../img/down_arrow_yellow.svg')

.sheets
    &__wrapper
        display: flex
        justify-content: space-around

    &__item
        display: flex
        flex-direction: column
        align-items: center

        &-title
            text-align: center
            font-weight: 600
            margin-bottom: 30px

.download-btn
    width: 211px
    height: 45px
    background: $black-text
    color: $white
    display: flex
    align-items: center
    justify-content: center
    &::after
        content: ''
        display: block
        width: 16px
        height: 22px
        margin-left: 14px
        background-image: url('../img/down_arrow_white.svg')
        background-repeat: no-repeat


.get
    &__right
        color: $black-text
        background-image: url('../img/get_right_bg.svg')
        width: 50%
        display: flex
        flex-direction: column
        padding: 170px 145px
        &--disabled
            &::after
                content: ''
                display: block
                position: absolute
                right: 0
                top: 0
                mask-image: url('../img/get_right_bg.svg')
                background: $white
                opacity: 0.3
                z-index: 1
                pointer-events: none

    &__left
        width: 586px

    &__back-btn,
    &__retry-btn
        display: block
        background: transparent
        border: none
        font-size: 14px
        color: $white
        border-bottom: 1px solid $yellow
        padding: 2px 0

    &__back-btn
        display: none
        margin-top: -28px
        margin-bottom: 120px

    &__retry-btn,
    &__retry-timer
        float: right

    &__retry-timer
        display: none

    &__success-message
        display: none
        align-items: center
        margin-top: 150px

        &-icon
            margin-right: 34px
        &-text>p
            font-size: 22px
            line-height: 39px

    &--contact
        .contact-form
            display: flex
    &--code
        .code-form
            display: flex

        .get__back-btn
            display: block
    &--success
        .get__success-message
            display: flex



.contact-form,
.code-form
    display: none
    flex-direction: column

    .text
        margin-top: 22px

    input
        color: $white
        background: transparent
        border: none
        border-bottom: 2px solid rgba(255, 255, 255, 0.4)
        padding-bottom: 17px
        font-size: 20px
        margin-top: 26px
        margin-bottom: 30px
        &:hover
            border-bottom: 2px solid $white

        &::placeholder
            font-family: 'Montserrat', sans-serif
            font-size: 20px

        &:valid
            border-bottom: 2px solid $yellow

        &:focus:invalid
            border-bottom: 2px solid #E21423

.code-form
    input
        margin-bottom: 12px


.email-error-message,
.code-error-message
    width: 261px
    height: 32px
    font-size: 14px
    line-height: 32px
    text-align: center
    background: #E21423
    margin-top: 8px
    position: absolute
    display: none

.send-btn,
.send-code-btn
    margin-top: 42px
    width: 198px
    height: 45px
    background: transparent
    border: 1px solid $white
    display: flex
    justify-content: center
    align-items: center
    color: $white
    align-self: flex-end
    &--disabled
        opacity: .4

.send-btn
    &::after
        content: ''
        display: block
        width: 16px
        height: 14px
        background-image: url('../img/right_arrow_white.svg')
        flex-shrink: 0
        margin-left: 9px


    

.footer
    height: 66px
    width: 100vw
    background: #121212
    padding-left: 240px
    padding-right: 100px
    display: flex
    justify-content: space-between
    align-items: center
    bottom: 0

