* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 16px;
  line-height: 23px;
}

.mb--40 {
  margin-bottom: 40px;
}

.mw--half {
  max-width: 50%;
}

.title {
  font-family: 'Play', sans-serif;
  font-size: 45px;
  line-height: 52px;
  font-weight: bold;
  margin-bottom: 60px;
}

.subtitle {
  font-size: 22px;
  line-height: 27px;
  font-weight: 600;
  margin-bottom: 26px;
}

.header {
  position: fixed;
  height: 100vh;
  width: 143px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  z-index: 1;
}

.header__logo {
  display: block;
  width: 52px;
  height: 52px;
  background-image: url("../img/header_logo.png");
  background-size: contain;
}

.header__logo:hover {
  background-image: url("../img/logo_big.png");
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-title {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  line-height: 28px;
  margin-top: 8px;
}

.header__title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 12px;
  position: relative;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 78px;
  height: 1px;
  background: #F0C73F;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__nav {
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-item {
  display: block;
  position: relative;
  width: 7px;
  height: 7px;
  background: #222222;
}

.header__nav-item::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 17px;
  height: 17px;
  border: 1px solid #222222;
  -webkit-transform: translate(-10px, -10px) scale(0);
          transform: translate(-10px, -10px) scale(0);
  -webkit-transition: -webkit-transform ease-in-out .33s;
  transition: -webkit-transform ease-in-out .33s;
  transition: transform ease-in-out .33s;
  transition: transform ease-in-out .33s, -webkit-transform ease-in-out .33s;
}

.header__nav-item--active::after {
  -webkit-transform: translate(-10px, -10px) scale(1);
          transform: translate(-10px, -10px) scale(1);
}

.header__lang-selector {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lang-selector::before, .header__lang-selector::after {
  content: '';
  display: block;
  position: absolute;
}

.header__lang-selector::before {
  top: 0;
  left: 50%;
  height: 19px;
  width: 1px;
  background: #222222;
}

.header__lang-selector::after {
  bottom: 0;
  right: 10px;
  width: 20px;
  height: 2px;
  background: #F0C73F;
}

.header__lang-selector-item {
  font-size: 16px;
  line-height: 20px;
  margin: 0 10px;
}

.header__lang-selector-item:first-child {
  font-weight: bold;
}

.header__lang-selector-item:last-child {
  font-weight: normal;
}

.header__lang-selector-item:last-child:hover {
  color: #F0C73F;
}

.header__lang-selector--en::after {
  right: auto;
  left: 10px;
}

.header__lang-selector--en .header__lang-selector-item:first-child {
  font-weight: normal;
}

.header__lang-selector--en .header__lang-selector-item:first-child:hover {
  color: #F0C73F;
}

.header__lang-selector--en .header__lang-selector-item:last-child {
  font-weight: bold;
}

.header__lang-selector--en .header__lang-selector-item:last-child:hover {
  color: #222222;
}

.slider-screen,
.docs,
.get {
  background: linear-gradient(214.79deg, rgba(255, 255, 255, 0.1) 13.87%, rgba(255, 255, 255, 0) 69.02%), linear-gradient(0deg, #222222, #222222), linear-gradient(56.24deg, #FFE989 8.41%, #D35DA4 87.89%);
  color: #ffffff;
}

.slider-screen,
.get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: relative;
}

.slider-screen .scroll-hint,
.get .scroll-hint {
  height: 100px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-screen__left,
.get__left {
  position: relative;
}

.slider-screen__right,
.get__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-image: url("../img/slider_right_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-screen .slider,
.get .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider-screen .slider__logo,
.get .slider__logo {
  width: 133px;
  height: 133px;
}

.slider-screen .slider__controls,
.get .slider__controls {
  width: 800px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 213px;
  left: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
}

.slider-screen .slider__controls-item,
.get .slider__controls-item {
  padding-bottom: 26px;
  text-align: center;
  position: relative;
}

.slider-screen .slider__controls-item::after,
.get .slider__controls-item::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: block;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  width: 28px;
  height: 4px;
  background: #222222;
  border: 1px solid #ffffff;
}

.slider-screen .slider__controls-item:hover, .slider-screen .slider__controls-item--active,
.get .slider__controls-item:hover,
.get .slider__controls-item--active {
  font-weight: bold;
}

.slider-screen .slider__controls-item:hover::after, .slider-screen .slider__controls-item--active::after,
.get .slider__controls-item:hover::after,
.get .slider__controls-item--active::after {
  background: #ffffff;
}

.slider-screen .slider__controls-item--active::after,
.get .slider__controls-item--active::after {
  width: 46px;
  height: 8px;
  bottom: -4px;
}

.slider-screen .slider__controls-item--active::before,
.get .slider__controls-item--active::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 58px;
  height: 20px;
  position: absolute;
  display: block;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  background: #222222;
  border: 1px solid #ffffff;
}

.slider-screen .slide,
.get .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  position: absolute;
  top: 0;
}

.slider-screen .slide__img,
.get .slide__img {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slider-screen .slide--previous .slide__img,
.get .slide--previous .slide__img {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
}

.slider-screen .slide--previous .slide__text,
.get .slide--previous .slide__text {
  opacity: 0;
}

.slider-screen .slide--next .slide__img,
.get .slide--next .slide__img {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
}

.slider-screen .slide--next .slide__text,
.get .slide--next .slide__text {
  opacity: 0;
}

.slider-screen .slide--active .slide__img,
.get .slide--active .slide__img {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.slider-screen .slide--active .slide__text,
.get .slide--active .slide__text {
  opacity: 1;
}

.slider-screen .slide__text,
.get .slide__text {
  opacity: 0;
  max-width: 60%;
  padding-top: 154px;
  padding-left: 240px;
  padding-right: 180px;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.slider-screen .slide__img-wrapper,
.get .slide__img-wrapper {
  width: 40%;
  text-align: center;
  overflow: hidden;
}

.slider-screen .slide__title, .slider-screen .slide__description,
.get .slide__title,
.get .slide__description {
  font-size: 31px;
  line-height: 36px;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  margin-bottom: 20px;
}

.slider-screen .slide__title,
.get .slide__title {
  font-size: 54px;
  line-height: 58px;
}

.slider-screen .slide__title--main,
.get .slide__title--main {
  margin-top: -16px;
  font-size: 121px;
  line-height: 140px;
}

section {
  padding: 112px 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.functionality__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.functionality__list {
  list-style: none;
  counter-reset: li;
  padding-left: 48px;
}

.functionality__list-item {
  margin-bottom: 15px;
}

.functionality__list-item::before {
  counter-increment: li;
  content: counter(li);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  margin-right: 19px;
  margin-left: -48px;
  width: 29px;
  height: 27px;
  border: 1px solid #4C4C4C;
}

.products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.products__wrapper--get {
  width: 658px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product {
  width: 435px;
  height: 157px;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.product__title {
  font-family: 'Poiret One', cursive;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 7px;
}

.product__subtitle {
  font-size: 13px;
  line-height: 18px;
}

.product__description {
  margin-left: 16px;
}

.product__unavailable {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 33px;
  background: #828282;
  color: #ffffff;
  padding: 8px 11px;
}

.product--active, .product:hover {
  border: 1px solid #222222;
}

.product--disabled {
  -webkit-filter: greyscale(100%);
          filter: greyscale(100%);
}

.product--get {
  width: auto;
  height: 112px;
  background: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 54px;
  padding-right: 70px;
  margin-top: 48px;
}

.product--get:hover .download-icon:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F0C73F;
}

.download-icon {
  width: 18px;
  height: 24px;
  background-image: url("../img/down_arrow_black.svg");
  margin-left: 26px;
  position: relative;
}

.mir {
  color: #FC8215;
  font-weight: bold;
}

.suz {
  color: #E21423;
  font-weight: bold;
}

.mdm {
  color: #571CA8;
  font-weight: bold;
}

.docs {
  background: linear-gradient(202.95deg, rgba(255, 255, 255, 0.1) 13.87%, rgba(255, 255, 255, 0) 69.02%), #222222;
  color: #ffffff;
}

.docs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.docs__group {
  margin-right: 80px;
  width: 406px;
}

.docs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.docs__item:not(:last-child) {
  margin-bottom: 22px;
}

.docs__item:hover .docs__icon {
  background-image: url("../img/down_arrow_white.svg");
}

.docs__icon {
  width: 16px;
  height: 22px;
  margin-right: 18px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  background-image: url("../img/down_arrow_yellow.svg");
}

.sheets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sheets__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sheets__item-title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.download-btn {
  width: 211px;
  height: 45px;
  background: #222222;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.download-btn::after {
  content: '';
  display: block;
  width: 16px;
  height: 22px;
  margin-left: 14px;
  background-image: url("../img/down_arrow_white.svg");
  background-repeat: no-repeat;
}

.get__right {
  color: #222222;
  background-image: url("../img/get_right_bg.svg");
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 170px 145px;
}

.get__right--disabled::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-mask-image: url("../img/get_right_bg.svg");
          mask-image: url("../img/get_right_bg.svg");
  background: #ffffff;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}

.get__left {
  width: 586px;
}

.get__back-btn, .get__retry-btn {
  display: block;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 1px solid #F0C73F;
  padding: 2px 0;
}

.get__back-btn {
  display: none;
  margin-top: -28px;
  margin-bottom: 120px;
}

.get__retry-btn, .get__retry-timer {
  float: right;
}

.get__retry-timer {
  display: none;
}

.get__success-message {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

.get__success-message-icon {
  margin-right: 34px;
}

.get__success-message-text > p {
  font-size: 22px;
  line-height: 39px;
}

.get--contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get--code .code-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get--code .get__back-btn {
  display: block;
}

.get--success .get__success-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form,
.code-form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form .text,
.code-form .text {
  margin-top: 22px;
}

.contact-form input,
.code-form input {
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 17px;
  font-size: 20px;
  margin-top: 26px;
  margin-bottom: 30px;
}

.contact-form input:hover,
.code-form input:hover {
  border-bottom: 2px solid #ffffff;
}

.contact-form input::-webkit-input-placeholder,
.code-form input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.contact-form input:-ms-input-placeholder,
.code-form input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.contact-form input::-ms-input-placeholder,
.code-form input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.contact-form input::placeholder,
.code-form input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.contact-form input:valid,
.code-form input:valid {
  border-bottom: 2px solid #F0C73F;
}

.contact-form input:focus:invalid,
.code-form input:focus:invalid {
  border-bottom: 2px solid #E21423;
}

.code-form input {
  margin-bottom: 12px;
}

.email-error-message,
.code-error-message {
  width: 261px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  background: #E21423;
  margin-top: 8px;
  position: absolute;
  display: none;
}

.send-btn,
.send-code-btn {
  margin-top: 42px;
  width: 198px;
  height: 45px;
  background: transparent;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.send-btn--disabled,
.send-code-btn--disabled {
  opacity: .4;
}

.send-btn::after {
  content: '';
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("../img/right_arrow_white.svg");
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 9px;
}

.footer {
  height: 66px;
  width: 100vw;
  background: #121212;
  padding-left: 240px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */