@import vars

.docs
    background: linear-gradient(202.95deg, rgba(255, 255, 255, 0.1) 13.87%, rgba(255, 255, 255, 0) 69.02%), #222222
    color: $white

    &__wrapper
        display: flex

    &__group
        margin-right: 80px
        width: 28%

    &__item
        display: flex
        &:not(:last-child)
            margin-bottom: 22px

        &:hover
            .docs__icon
                background-image: url('../img/down_arrow_white.svg')

    &__title
        line-height: 23px

    &__icon
        width: 17px
        height: 23px
        margin-right: 18px
        flex-shrink: 0
        display: block
        background-size: contain
        background-image: url('../img/down_arrow_yellow.svg')


@media screen and ( max-width: 1024px )
    .docs
        &__wrapper
            flex-direction: column
        &__group
            width: 100%
            margin-right: 0
            &:not(:last-child)
                margin-bottom: 40px
        &__item
            &:not(:last-child)
                margin-bottom: 15px
