@import vars


.input__wrapper
    position: relative

.contact-form,
.code-form
    display: none
    flex-direction: column

    .text
        margin-top: 1.15vw

    input
        width: 100%
        color: $white
        background: transparent
        border: none
        border-bottom: 2px solid rgba(255, 255, 255, 0.4)
        padding-bottom: 0.885vw
        font-size: 1vw
        margin-top: 1.35vw
        margin-bottom: 1.5vw
        &:hover,
        &:valid
            border-bottom: 2px solid $white

        &::placeholder
            font-family: 'Montserrat', sans-serif
            font-size: 1vw

        &:placeholder-shown
            border-bottom: 2px solid rgba(255, 255, 255, 0.4)

        &:focus
            border-bottom: 2px solid $yellow
        &:focus:invalid,
        &:invalid
            border-bottom: 2px solid #E21423
            &::after
                content: attr(error_message)
                display: block
                color: $white
                background: #E21423
            
    #email:invalid ~ .email-error-message,
    #code:invalid ~ .code-error-message
        display: block

.code-form
    input
        margin-bottom: 12px


.email-error-message,
.code-error-message
    bottom: -8px
    width: 261px
    height: 32px
    font-size: 14px
    line-height: 32px
    text-align: center
    background: #E21423
    position: absolute
    display: none

.send-btn,
.send-code-btn
    margin-top: 42px
    width: 198px
    height: 45px
    background: transparent
    border: 1px solid $white
    display: flex
    justify-content: center
    align-items: center
    color: $white
    align-self: flex-end
    &:hover
        background: rgba(255, 255, 255, .05)
    &--disabled
        cursor: not-allowed
        pointer-events: none
        opacity: .4

.send-btn
    &::after
        content: ''
        display: block
        width: 16px
        height: 14px
        background-image: url('../img/right_arrow_white.svg')
        flex-shrink: 0
        background-size: contain
        margin-left: 9px

@media screen and ( max-width: 1024 )
    .email-error-message,
    .code-error-message
        bottom: -18px

    
@media screen and ( max-width: $mobile )
    .contact-form,
    .code-form
        .text
            margin-top: 24px

        input
            padding-bottom: 17px
            font-size: 18px
            margin-top: 20px
            margin-bottom: 19px
            &::placeholder
                font-size: 18px

