.get .products__wrapper--get .product {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  pointer-events: none;
  cursor: not-allowed;
}

.get .products__wrapper--get .product::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
}

.get__right {
  color: #222222;
  background-image: url("../img/get_right_bg.svg");
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 9vw 7.5vw;
}

.get__right--disabled::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-mask-image: url("../img/get_right_bg.svg");
          mask-image: url("../img/get_right_bg.svg");
  background: #ffffff;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}

.get__left {
  width: 40%;
}

.get__back-btn, .get__retry-btn {
  display: block;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #ffffff;
  border-bottom: 1px solid #F0C73F;
  padding: 2px 0;
}

.get__back-btn {
  display: none;
  margin-top: -28px;
  margin-bottom: 120px;
}

.get__retry-btn, .get__retry-timer {
  float: right;
}

.get__retry-timer {
  display: none;
}

.get__retry-timer-value {
  min-width: 46px;
  display: inline-block;
}

.get__success-message {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

.get__success-message-icon {
  margin-right: 34px;
}

.get__success-message-text > p {
  font-size: 22px;
  line-height: 39px;
}

.get--contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get--code .code-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get--code .get__back-btn {
  display: block;
}

.get--success .get__success-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get--success .products__wrapper--get .product {
  -webkit-filter: none;
          filter: none;
  pointer-events: auto;
  cursor: auto;
}

.get--success .products__wrapper--get .product::after {
  display: none;
}

@media screen and (max-width: 800px) {
  .get {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 66px;
  }
  .get__left {
    width: 100%;
  }
  .get__right {
    width: calc(100% + 24px);
    overflow: hidden;
    position: relative;
    padding: 30px 12px;
    margin-left: -12px;
    margin-top: 40px;
    background-image: none;
  }
  .get__right .subtitle {
    z-index: 1;
  }
  .get__right::before {
    content: '';
    position: absolute;
    display: block;
    width: 110%;
    height: 120%;
    top: -20px;
    left: 0;
    background-image: linear-gradient(325.65deg, #FFF1B8 10.19%, #FFEC9C 39.74%, #FFEA8F 71.47%, #F6D64C 109.29%), linear-gradient(0deg, #FFEC9C, #FFEC9C), linear-gradient(0deg, #FFE574, #FFE574), linear-gradient(183.54deg, #FFE574 44.35%, #FFEC9C 92.17%);
  }
}
/*# sourceMappingURL=get.css.map */