@import vars

.get
    .products__wrapper--get
        .product
            filter: grayscale(1)
            pointer-events: none
            cursor: not-allowed
            &::after
                content: ''
                display: block
                position: absolute
                width: 100%
                height: 100%
                background: rgba(255, 255, 255, .5)
                left: 0

    &__right
        color: $black-text
        background-image: url('../img/get_right_bg.svg')
        width: 50%
        display: flex
        flex-direction: column
        padding: 9vw 7.5vw
        

    &__left
        width: 40%

    &__back-btn,
    &__retry-btn
        display: block
        background: transparent
        border: none
        font-size: 14px
        color: $white
        border-bottom: 1px solid $yellow
        padding: 2px 0

    &__back-btn
        display: none
        margin-top: -18px
        margin-bottom: 120px

    &__retry-btn,
    &__retry-timer
        float: right

    &__retry-timer
        display: none
        &-value
            min-width: 46px
            display: inline-block

    &__success-message
        display: none
        align-items: center
        margin-top: 150px

        &-icon
            margin-right: 34px
        &-text>p
            &:first-child
                margin-bottom: 8px
            font-size: 22px
            line-height: 29px

    &--contact
        .contact-form
            display: flex
    &--code
        .code-form
            display: flex

        .get__back-btn
            display: block
    &--success
        .get__success-message
            display: flex

        .products__wrapper--get
            .product:not(.product--disabled)
                filter: none
                pointer-events: auto
                cursor: auto
                &::after
                    display: none


@media screen and ( max-width: 1024px )
    .get
        height: auto
        flex-direction: column
        padding-bottom: 66px

        &__success-message
            margin-top: 80px
            margin-bottom: 60px

        &__left
            width: 100%

        &__right
            width: 100vw
            position: relative
            padding: 30px 70px
            padding-left: 12.5vw
            margin-left: -12.5vw
            margin-top: 40px
            background-image: none
            .subtitle
                z-index: 1
            &::before
                content: ''
                position: absolute
                display: block
                width: 100%
                height: 120%
                top: -20px
                left: 0
                background-image: linear-gradient(325.65deg, #FFF1B8 10.19%, #FFEC9C 39.74%, #FFEA8F 71.47%, #F6D64C 109.29%), linear-gradient(0deg, #FFEC9C, #FFEC9C), linear-gradient(0deg, #FFE574, #FFE574), linear-gradient(183.54deg, #FFE574 44.35%, #FFEC9C 92.17%)

@media screen and ( max-width: $mobile )
    .get__right
        position: relative
        padding: 30px 32px
        margin-left: -32px

        &::before
            width: 100%
            height: 115%
            top: -20px
            left: 0
            background-image: linear-gradient(325.65deg, #FFF1B8 10.19%, #FFEC9C 39.74%, #FFEA8F 71.47%, #F6D64C 109.29%), linear-gradient(0deg, #FFEC9C, #FFEC9C), linear-gradient(0deg, #FFE574, #FFE574), linear-gradient(183.54deg, #FFE574 44.35%, #FFEC9C 92.17%)

@media screen and ( max-width: 600px )
    .get__right
        padding-left: 12px
        padding-right: 12px
        margin-left: -12px




