.header {
  position: fixed;
  height: 100vh;
  width: 7.5%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  z-index: 1;
}

.header__logo {
  display: block;
  width: 52px;
  height: 52px;
  background-image: url("../img/header_logo.png");
  background-size: contain;
}

.header__logo:hover {
  background-image: url("../img/logo_big.png");
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.header__logo-title {
  font-family: 'Poiret One', cursive;
  font-size: 1.25vw;
  line-height: 28px;
  margin-top: 8px;
}

.header__title {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 12px;
  position: relative;
  text-transform: uppercase;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__nav {
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-item {
  display: block;
  position: relative;
  width: 7px;
  height: 7px;
  background: #222222;
}

.header__nav-item::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 17px;
  height: 17px;
  border: 1px solid #222222;
  -webkit-transform: translate(-10px, -10px) scale(0);
          transform: translate(-10px, -10px) scale(0);
  -webkit-transition: -webkit-transform ease-in-out .33s;
  transition: -webkit-transform ease-in-out .33s;
  transition: transform ease-in-out .33s;
  transition: transform ease-in-out .33s, -webkit-transform ease-in-out .33s;
}

.header__nav-item--active::after {
  -webkit-transform: translate(-10px, -10px) scale(1);
          transform: translate(-10px, -10px) scale(1);
}

.header__lang-selector {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lang-selector::before, .header__lang-selector::after {
  content: '';
  display: block;
  position: absolute;
}

.header__lang-selector::before {
  top: 0;
  left: 50%;
  height: 19px;
  width: 1px;
  background: #222222;
}

.header__lang-selector::after {
  bottom: 0;
  right: 10px;
  width: 20px;
  height: 2px;
  background: #F0C73F;
}

.header__lang-selector-item {
  font-size: 16px;
  line-height: 20px;
  margin: 0 10px;
}

.header__lang-selector-item:first-child {
  font-weight: bold;
}

.header__lang-selector-item:last-child {
  font-weight: normal;
}

.header__lang-selector-item:last-child:hover {
  color: #F0C73F;
}

.header__lang-selector--en::after {
  right: auto;
  left: 10px;
}

.header__lang-selector--en .header__lang-selector-item:first-child {
  font-weight: normal;
}

.header__lang-selector--en .header__lang-selector-item:first-child:hover {
  color: #F0C73F;
}

.header__lang-selector--en .header__lang-selector-item:last-child {
  font-weight: bold;
}

.header__lang-selector--en .header__lang-selector-item:last-child:hover {
  color: #222222;
}
/*# sourceMappingURL=header.css.map */